.login-form{
    margin-top: 40px;
}
 
form {
    background-color: rgb(236, 236, 236);
    border-radius: 5px;    
    box-shadow: 0px 0px 9px gray;
}

.h1-form {
    margin-top: 30px;
    font-weight: bold;
    color: #520f99;
}

label {
    display: block;
    font-size: 18px;
    color: black;
    margin: 35px 10px 10px 15px;
    text-align: left;
}

input{
    border: none;
    border-bottom: 1px solid black;
    margin-top: 20px;
    transition: all 200ms;
}

input:hover, input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid #7413DB;
}

.btn-form{
    border: 1px solid #7413DB;
    border-radius: 5px;
    color: #7413DB;
    text-decoration: none;
    text-align: center;
    padding: 7px 13px;
    background: transparent;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: all 300ms;
}

.btn-form:hover{
  color: white;
  background: #7413DB;
}