.search{
    margin-top: 20px;
}

.btnSearch{
    border: 1px solid #7413DB;
    border-radius: 5px;
    color: #7413DB;
    text-decoration: none;
    text-align: center;
    background: transparent;
    transition: all 300ms;
    margin: 20px;
}

.btnSearch:hover{
  color: white;
  background: #7413DB;
}

.h2Profits{
    border: 1px solid #d099f1;
    border-radius: 10px 0px 10px 0px;
    color: #3C0973;
    font-variant-caps: all-small-caps;
    font-size: 24px;
    font-weight: 600;
    width: fit-content;
    margin-left: 50px;
    margin-top: 20px;
}