.navbar{
    background-color: #7413DB;
}

h1:hover{
    cursor: pointer;
}

.nav-h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}