.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);

  background-color: #520f99;
  color: white;
  text-align: center;
  height: 80px;
  margin-top: 120px;
};

.footer-div {
  width: 100%;
  background-color: rgb(255, 255, 255) ;
  overflow: hidden;
};

.a-footer {
  margin-right: 10px;
  color: aqua;
};
