.h{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

.btnClientOption{
    border: 1px solid #d099f1;
    border-radius: 10px 10px 0px 0px;
    background-color: #EAC9FF;
    color: #3C0973;
    font-variant-caps: all-small-caps;
    font-size: 18px;
    font-weight: 600;
}

.btn1:hover, .btn1:focus{
    border: 1px solid #99f1a8;
    background-color: #cbffc9;
    transition: all 300ms;
}

.btn2:hover, .btn2:focus{
    border: 1px solid #f1cb99;
    background-color: #fff1c9;
    transition: all 300ms;
}

.btn3:hover, .btn3:focus{
    border: 1px solid #f19999;
    background-color: #ffc9c9;
    transition: all 300ms;
}

